@font-face {
    font-family: Renner;
    src: url(fonts/renner-book.otf);
}
@font-face {
    font-family: Lemon Milk;
    src: url(fonts/LemonMilkbold.otf);
}
body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
}
body {
	text-align: center;/*
	background-color: #90a5a1;
	background-color: #f9f9f9;*/
	background: linear-gradient(270deg, #f9f9f9, #90a5a1);
	font-family: "Renner";
}
a, a:visited {
	color: #29222c;
	transition: background-color 0.6s ease;
}
a:hover {
	color: #29222c;
	background-color: #bec6c4;
	transition: background-color 0.6s ease;
}
#loading {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 1000;
    -webkit-animation-name: fadeout;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}
#about {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -10;
	opacity: 0;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}
#about-inner {
	height: 250px;
	width: 350px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
h1 {
	font-size: 20pt;
}
#name {
	font-family: "Lemon Milk";
	font-size: 30pt;
	text-transform: capitalize;
	letter-spacing: 6pt;
	display: inline-block;
	margin: 8px 0;
	color: #cc6072;
	text-shadow: 3px 3px #443c49;
}
p {
	font-size: 14pt;
}
ul {
	margin-top: 36px;
	list-style-type: none;
	padding: 0;
}
li {
	display: inline;
	margin-right: 4px;
}

#content {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1000;
	opacity: 0;
	background: linear-gradient(330deg, #e3d9e8, #f9f9f9);
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}
/* #stuff {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -99999;
	opacity: 0;
	background-color: white;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
} */
.panel {
	height: 100vh;
}
.panel-name {
	font-family: "Lemon Milk";
	font-size: 48pt;
	color: #222c2a;
}
#photo {
	position: absolute;
	left: 0;
	bottom: -15px;
}
#design {
	position: absolute;
	right: 0;
	top: -15px;
}
#box {
	/*display: block;
	margin: 200px auto;*/
	width: 300px;
	height: 300px;
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	mask-image: url(logo/final.svg);
	-webkit-mask-image: url(logo/final.svg);
	background-color: #cc6072;
}
.wave {
	background: #bec6c4;
	display:inline-block;
	height:63%;
	width:5px;
	position:absolute;
	-webkit-animation-name:             dostuff; 
	-webkit-animation-duration:         3s; 
	-webkit-animation-iteration-count:  infinite;
	-webkit-transition-timing-function: ease-in-out;
}
/*.wave2 {
	background: #bec6c4;
	display:inline-block;
	height:8px;
	width:55%;
	position:absolute;
	left: 0;
	-webkit-animation-name:             otherstuff; 
	-webkit-animation-duration:         5s; 
	-webkit-animation-iteration-count:  infinite;
	-webkit-transition-timing-function: ease-in-out;
}*/
@-webkit-keyframes dostuff{
	0%   {height:63%;}
	50%  {height:40%;}
	100% {height:63%;}
}
/*@-webkit-keyframes otherstuff{
	0%   {width:55%;}
	50%  {width:45%;}
	100% {width:55%;}
}*/
@-webkit-keyframes fadeout {
    0% {opacity: 1; z-index: 1000;}
    99% {opacity: 0; z-index: 1000;}
    100% {opacity: 0; z-index: -99999}
}
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}