@font-face {
    font-family: Renner;
    src: url(fonts/renner-book.otf);
}
@font-face {
    font-family: Lemon Milk;
    src: url(fonts/LemonMilkbold.otf);
}
@-ms-viewport{
	width: device-width;
}
body, html { 
    overflow-x: hidden; 
    overflow-y: hidden;
}
body {
	text-align: center;
	/*background-color: #f9f9f9;
	background-color: #efe8f7;
	background: linear-gradient(270deg, ##f7fafd, #90a5a1);*/
	font-family: "Renner";
}

#loading {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 1000;
    -webkit-animation-name: fadeout;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-delay: 2.3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

#bg {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -100;
	background: linear-gradient(150deg, #f9f9f9, #efe8f7);
}
#bg-photo {
	width: 100%;
	height: 100vh;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -99;
	opacity: 0;
}
#bg-design {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -98;
	opacity: 0;
}

#about {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -10;
}
#about-inner {
	height: 57%;
	max-height: 350px;
	width: 95%;
	max-width: 350px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}
#about-inner, .creds {
	opacity: 0;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 3.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}
h1 {
	font-size: 20pt;
}
#name {
	font-family: "Lemon Milk";
	font-size: 30pt;
	text-transform: capitalize;
	letter-spacing: 6pt;
	display: inline-block;
	margin: 8px 0;
	color: #cc6072;
	text-shadow: 3px 3px #443c49;
}
a, a:visited {
	color: #29222c;
	transition: background-color 0.6s ease;
}
a:hover {
	color: #29222c;
	background-color: #bec6c4;
	transition: background-color 0.6s ease;
}
#make {
	font-size: 14pt;
}
#soon a {
	text-decoration: underline;
}
ul {
	margin-top: 32px;
	list-style-type: none;
	padding: 0;
}
li {
	display: inline;
	margin-right: 4px;
}

.panel-name {/*
	width: 100%;
	height: 100vh;
	position: absolute;
	background: linear-gradient(330deg, #e3d9e8, #f9f9f9); */
	z-index: 0;
	opacity: 0;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-delay: 0.8s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;

	font-family: "Lemon Milk";
	font-size: 48pt;
	/*color: #222c2a;*/
	color: #444;
	/*transition: font-size 0.2s ease-in;*/
}
.panel-name:hover {
	/*font-size: 52pt;*/
	/*transition: font-size 0.2s ease-in;*/
	cursor: pointer;
}

#photo {
	position: absolute;
	left: 0;
	bottom: 55px;
}
#design {
	position: absolute;
	right: 0;
	top: -15px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: #90a5a1;
}
.footer-info {
	margin: 40px 15px;
	z-index: -5;
}
.footer-info a, .footer-info a:visited, .footer-info a:hover {
	background: none;
}
.info-left {
	text-align: left;
}
.info-right {
	text-align: right;
}

#passion, #frog {
	position: absolute;
	opacity: 0;
}
#passion {
	top: 0;
	left: 0;
	z-index: -11;
}
#frog {
	bottom: 70px;
	right: 0;
	z-index: -10;
}

/****************** PAGES ********************/

.page {
	opacity: 0;
    -webkit-animation-name: fadein;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
}

#design-page {
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -15;
}

#photo-page {
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -20;
}

.nav {
	font-family: "Lemon Milk";
	font-size: 48pt;
	color: #444;
	transition: color 0.2s ease-in;
	background-color: #90a5a1;
	z-index: 0;
}
.nav:hover {
	cursor: pointer;
	color: #eee;
	transition: color 0.2s ease-in;
}
#design-nav {
	text-align: left;
	position: absolute;
	left: 0;
}
#photo-nav {
	text-align: right;
	position: absolute;
	right: 0;
}

.page-inner {
	width: 100%;
	/*max-width: 1080px;*/
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	padding-bottom: 70px;
}
.page-content {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 20px;
}
.page-content img {
	max-height: 78vh;
	max-width: 100%;
	padding: 20px;
}
.page-content p {
	padding-bottom: 15px;
}
.page-content::-webkit-scrollbar {
	width: 8px;
	background: none;
}
.page-content::-webkit-scrollbar-thumb {
	background: #bec6c4;
}

/****************** LOGO ANIMATION SHIT ******************/

#box {
	/*display: block;
	margin: 200px auto;*/
	width: 300px;
	height: 60%;
	max-height: 350px;
	position:absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	mask-image: url(logo/final.svg);
	-webkit-mask-image: url(logo/final.svg);
	background-color: #cc6072;
}
.wave {
	background: #bec6c4;
	display:inline-block;
	height:63%;
	width:5px;
	position:absolute;
	-webkit-animation-name:             dostuff; 
	-webkit-animation-duration:         3s; 
	-webkit-animation-iteration-count:  infinite;
	-webkit-transition-timing-function: ease-in-out;
}
@-webkit-keyframes dostuff{
	0%   {height:63%;}
	50%  {height:40%;}
	100% {height:63%;}
}
@-webkit-keyframes fadeout {
    0% {opacity: 1; z-index: 1000;}
    99% {opacity: 0; z-index: 1000;}
    100% {opacity: 0; z-index: -99999}
}
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes expand {
    0% {
    	width: 100%;
    	height: 100%;
    	opacity: 0.5;
    }
    100% {
    	width: 110%;
    	height: 110%;
    	opacity: 0;
    }
}
@-webkit-keyframes shrink {
    0% {
    	width: 110%;
    	height: 110%;
    }
    100% {
    	width: 100%;
    	height: 100%;
    	opacity: 0.5;
    }
}
@-webkit-keyframes text-expand {
    0% {
    	font-size: 48pt;
    }
    100% {
    	font-size: 52pt;
    }
}
@-webkit-keyframes text-shrink {
    0% {
    	font-size: 52pt;
    }
    100% {
    	font-size: 48pt;
    }
}

